<div class="tsc_ribbon_wrap">
    <div class="ribbon-wrap right-edge fork lblue">
        <span>
            <a href="https://github.com/lokutech/Url-Shortener">Github</a>
        </span>
    </div>
</div>
<h1>Converter App</h1>
<form action="/" method="GET">
    <input type="text" name="input" id="" required>
    <button type="submit">submit</button></form>
<br>
<br>
<br>
<br>
<h2>Example usage:</h2>
<p>/api/convert?input=4gal</p>
<p>/api/convert?input=1/2km</p>
<p>/api/convert?input=5.4/3lbs</p>
<p>/api/convert?input=kg</p>